<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:type, ["ObjectiveQuestion"]) %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.select(:subject, @subjects) %>
  </div>

  <div class="field">
    <%= f.label :chapter %>
    <%= f.select(:chapter, @chapters) %>
  </div>

  <div class="field">
    <%= f.label :topic %>
    <%= f.select(:topic, @topics) %>
  </div>

  <div class="field">
    <%= f.label :sub_topic %>
    <%= f.select(:sub_topic, @sub_topics) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
