<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:type, ["ObjectiveQuestion"]) %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= select_tag "subject", options_from_collection_for_select(@subjects, "id", "name", @question.subject.id) %>
  </div>

  <div class="field">
    <%= f.label :chapter %>
    <%= select_tag "chapter", options_from_collection_for_select(@chapters, "id", "name", @question.chapter.id) %>
  </div>

  <div class="field">
    <%= f.label :topic %>
    <%= select_tag "topic", options_from_collection_for_select(@topics, "id", "name", @question.topic.id) %>
  </div>

  <div class="field">
    <%= f.label :sub_topic %>
    <%= select_tag "sub_topic", options_from_collection_for_select(@sub_topics, "id", "name", @question.sub_topic.id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
