<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.qns_type %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @question.difficulty %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @question.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @question.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @question.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @question.option4 %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @question.solution %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @question.subject.nil? ? '' : @question.subject.name %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @question.chapter.nil? ? '' : @question.chapter.name %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @question.topic.nil? ? '' : @question.topic.name %>
</p>

<p>
  <strong>Sub Topic:</strong>
  <%= @question.sub_topic.nil? ? '' : @question.sub_topic.name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Questions List', questions_path %>